@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body {
    max-width: 1350px;
  
    margin: 0 auto;
}
.hero_main {
    background-image: url("../../public/assets/home/john-karlo-mendoza-idzUojjazCg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing:  2px;
    font-family: 'Bebas Neue', cursive;
   
}
.font-smooth {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font{
    font-family: 'Bebas Neue', cursive;
}

.login {
    background-image: url("../../public/assets/home/lina-verovaya-N4njM45mXFM-unsplash.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}